<h1>Seja bem vindo ao curso de Angular!</h1>
<h4 class="text-danger">{{ anuncio }}</h4>
<div class="row">
  <div class="col">
    <app-card-produto
    [foto]="foto"
    [nomeProduto]="nomeProduto"
    [promocao]="promocao"
    [idProduto]="idProduto"
    [datavalidade]="datavalidade"
    [precoProduto]="precoProduto"
    ></app-card-produto>
  </div>
  <div class="col">
    <app-card-produto
    foto="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUKPMl78W0yyVfCHkRRwV5udGsKG8ijcpRKE5ZYBqb&s"
    nomeProduto="Viagem para a Grecia"
    [promocao]="true"
    [idProduto]="10"
    datavalidade="2022-12-30"
    [precoProduto]="7000.50"
    ></app-card-produto>
  </div>
  <div class="col">
    <app-card-produto
    foto="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUKPMl78W0yyVfCHkRRwV5udGsKG8ijcpRKE5ZYBqb&s"
    nomeProduto="Viagem para Budapeste"
    [promocao]="false"
    [idProduto]="11"
    datavalidade="2022-12-30"
    [precoProduto]="5000.50"
    ></app-card-produto>
  </div>
</div>



<!-- <div class="row">
  <div class="col">
    <img class="img-fluid" src="assets/img/logo_horacio.png" />
  </div>
  <div class="col">
     <img class="img-fluid" src="assets/img/crud.png" />
  </div>
</div>
!-->
